[ng-cloak] {
    display:none;
}

body {
    margin: auto;
    width: 83rem;
    
}

body table.table tr th {
    border-top-color: black;
    
}

[ng-controller="NewStartupFormController"] {
    max-width: 40rem;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

input.ng-invalid.ng-touched {
    background-color: red;
    
}
